*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
}
/*ul:after{*/
    /*display: block;*/
    /*content: "";*/
    /*clear: both;*/
/*}*/
/*头部*/
#rui_en_banner{
    width: 100%;
    min-width: 1320px;
    background: #fff;
    padding:0 25px;
    margin:0 auto;
}
#rui_en_banner:after{
    display: block;
    content: "";
    clear: both;
}
#rui_en_banner ul{
    height:35px;
    line-height:35px;
}
#rui_en_banner ul li{
    float: left;
    padding:5px 10px;
    color: #666;
}
#rui_en_banner ul li a{
    text-decoration: none;
    color: #666;
}
#rui_en_banner ul li a:hover{
    color:#333;
}
#rui_en_banner .rt{
    float: right;
}


#pro_banner{
    width:100%;
    min-width: 1320px;
    position: relative;
    background: rgba(0,0,0,0.3);
}
#pro_banner p .banner_img01{
    z-index: 2;

}
#pro_banner .banner_img{
    width:100%;


}
#pro_banner p{
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 50%;
    margin-left: -410px;
    overflow: hidden;

}
#pro_banner .banner_imgs{
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    z-index: 13;
    text-align: center;
}
#pro_banner .banner_imgs ul li h4{
    color:#FEFEFE;
    margin-top:10px;
    font-size: 16px;
}
#pro_banner .banner_imgs ul li a{
    display: inline-block;
    width:130px;
    height:130px;
    border: 3px solid #fff;
    border-radius:100%;
    text-align: center;
}
#pro_banner .banner_imgs ul li a img{
   margin-top:15px;
}
#pro_banner ul li{
    display: inline-block;
    width:220px;

    /*width:130px;*/
    /*height:130px;*/
    /*border: 3px solid #fff;*/
    /*border-radius:100%;*/
    margin: 0 10px;
    text-align: center;

}
/*中间主体*/
#my_bigdata{
    width:1200px;
    margin:30px auto;
    text-align: center;
}
#my_bigdata h1{
    font-weight: 300;
    color:#333333;
}
#my_bigdata p{
    margin-top:35px;
    color:#444444;
    font-size: 14px;
}


/*产品特色*/
#pro_feature{
    width:1200px;
    margin:20px auto;
}
#pro_feature h3{
    width:100px;
    border-bottom: 2px solid #5CB530;
    text-align: center;
    padding:5px;
    font-size: 16px;
}
#pro_feature ul{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin-top:20px;
}
#pro_feature ul li{
    width:250px;
    height:auto;
    text-align: center;
    margin-left:43px;
    border: 1px solid #ccc;
    margin-top:15px;
    padding:5px 10px;
}
#pro_feature ul li img{
    width:130px;
    height:130px;
}
#pro_feature ul li h6{
    font-size: 14px;
    font-weight: normal;
    height:60px;
    margin-top:15px;
}

/*应用场景*/
#scenarios{
    width:1200px;
    margin:20px auto;
}
#scenarios h3{
    width:100px;
    border-bottom: 2px solid #5CB530;
    text-align: center;
    padding:5px;
    font-size: 16px;
}
#scenarios ul{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin-top:20px;
}
#scenarios ul li{
    width:360px;
    height:auto;
    text-align: center;
    margin-left:33px;
    border: 1px solid #ccc;
    margin-top:15px;
}
#scenarios ul li img{
    width:348px;
    height:144px;
    margin-top:5px;
}
#scenarios ul li h5{
    color:#333;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin-top:10px;
}
#scenarios ul li h6{
    font-size: 14px;
    font-weight: normal;
    height:100px;
    margin-top:15px;
    color: #777777;
    text-align:left;
    padding:0 5px;

}

